<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.api.data.mapper.EventMapper">

    <insert id="insertContents" useGeneratedKeys="false">
		INSERT INTO project.content (title, text, page_id) VALUES
        <foreach item="content" collection="contents" separator=",">
			(#{content.title}, #{content.text}, #{id})
        </foreach>
    </insert>
    <update id="updateContents" parameterType="java.util.List">
        <foreach collection="contents" item="content" index="index" open="" close="" separator=";">
			UPDATE project.content SET title =#{content.title},text = #{content.text}
			WHERE id=#{content.id}
        </foreach>
    </update>

    <resultMap id="landingPageResultMap" type="com.project.api.data.model.event.EventLandingPage">
        <id property="id" column="id" />
        <result property="language" column="language" javaType="com.project.api.data.enums.Language" typeHandler="com.project.api.data.mapper.handler.LanguageTypeHandler" />
        <association property="contents" column="id" javaType="List" select="findAllContentByPageId" />
        <association property="event" column="{id=event_id,language=language}" javaType="com.project.api.data.model.event.Event" select="findEventById" />
    </resultMap>
    <select id="findAllLandingPageByFilter" resultMap="landingPageResultMap">
		SELECT e.*
		FROM (SELECT lv.id, lv.title, lv.description, lv.keywords, lv.language, pv.region_id, pv.district_id,
				lv.event_id, lv.slug, lv.place_id, lv.start_date, lv.end_date
				FROM project.event_landing_page_view lv
				LEFT JOIN  project.place_view_v2 pv ON (pv.id = lv.place_id)) e
		WHERE
			e.event_id = IF(#{id} = 0, e.event_id, #{id})
        <if test="language != null">
			AND e.language = #{language.code}
        </if>
        <if test="startDate != null">
			AND e.start_date &gt;= #{startDate}
        </if>
        <if test="endDate != null">
			AND e.end_date &lt;= #{endDate}
        </if>
        <!-- GEO filter -->
        <if test="regions != null">
        	AND e.region_id IN <foreach item="region" collection="regions" separator="," open="(" close=")">#{region}</foreach>
        </if>
        <if test="districts != null">
        	AND e.district_id IN <foreach item="district" collection="districts" separator="," open="(" close=")">#{district}</foreach>
        </if>
        <!-- #END OF GEO filter -->
        <if test="types != null">
        	AND e.type IN (#{types})
        </if>
    </select>

    <resultMap id="EventMap" type="com.project.api.data.model.event.Event">
        <id property="id" column="id" />
        <result property="place.id" column="place_id" />
        <result property="language" column="language" javaType="com.project.api.data.enums.Language" typeHandler="com.project.api.data.mapper.handler.LanguageTypeHandler" />
        <result property="type" column="type" javaType="com.project.api.data.model.event.EventType" typeHandler="com.project.api.data.mapper.handler.EventTypeTypeHandler" />
        <result property="periodType" column="period_type" javaType="com.project.api.data.enums.PeriodType" typeHandler="com.project.api.data.mapper.handler.PeriodTypeTypeHandler" />
        <result property="feeType" column="fee_type" javaType="com.project.api.data.enums.FeeType" typeHandler="com.project.api.data.mapper.handler.FeeTypeTypeHandler" />
        <result property="master.id" column="master_id" />
        <result property="status" column="status" javaType="com.project.api.data.model.event.EventStatus" typeHandler="com.project.api.data.mapper.handler.EventStatusTypeHandler" />
    </resultMap>
    <select id="findAllEventsByFilter" resultMap="EventMap">
		SELECT  ev.id, ev.place_id,  ev.id AS event_id, ev.type, ev.period_type, #{language.code} AS language,
        ev.start_date, ev.start_time, ev.end_date, ev.end_time, ev.show_start_time, ev.show_end_time,
        CASE #{language.code} WHEN 'TR' THEN ev.tr_name WHEN 'EN' THEN ev.en_name WHEN 'RU' THEN ev.ru_name WHEN 'DE' THEN ev.de_name END AS name, 
        CASE #{language.code} WHEN 'TR' THEN ev.tr_slug WHEN 'EN' THEN ev.en_slug WHEN 'RU' THEN ev.ru_slug WHEN 'DE' THEN ev.de_slug END AS slug, 
        ev.create_datetime, ev.update_datetime, ev.all_day, ev.fee_type, ev.master_id, ev.duration, ev.time_table_id, ev.status
        FROM project.event_view ev
        WHERE
		ev.id = IF(#{id} = 0, ev.id, #{id})
        <if test="startDate != null">
			AND ev.start_date &lt;= #{endDate}
        </if>
        <if test="endDate != null">
			AND ev.end_date &gt;= #{startDate}
        </if>
        <if test="types != null">
        	AND ev.type IN <foreach item="type" collection="types" separator="," open="(" close=")">#{type}</foreach>
        </if>
        <if test="status !=null and status.id != 1">
        	AND ev.status = #{status.id}
        </if>
        <if test="type and type.id != 1">
        	AND ev.type = #{type.id}
        </if>
        <if test="name != null">
            <bind name="namePattern" value="'%' + name + '%'" />
        	AND LOWER(CASE #{language.code} WHEN 'TR' THEN ev.tr_name WHEN 'EN' THEN ev.en_name WHEN 'RU' THEN ev.ru_name WHEN 'DE' THEN ev.de_name END) LIKE LOWER(#{namePattern})
        </if>
        ORDER BY ev.id, ev.start_time ASC
    </select>
</mapper>