<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.api.data.mapper.PlaceMapper">

    <!-- 	<select id="findAllPlaceByType" resultType="com.project.api.data.model.place.Place"> -->
    <!-- 		SELECT pv.id, pv.id AS localisation_id, pv.type, pv.slug, #{language} AS language, pv.address_id, -->
    <!--             CASE #{language} WHEN 'TR' THEN pv.tr_name WHEN 'EN' THEN pv.en_name WHEN 'RU' THEN pv.ru_name WHEN 'DE' THEN pv.de_name END AS name -->
    <!--         FROM project.place_view_v2 pv WHERE pv.type = #{typeId} -->
    <!-- 	</select> -->

    <insert id="insertContents" useGeneratedKeys="false" keyProperty="id">
		INSERT INTO project.content (title, text, page_id) VALUES
        <foreach item="content" collection="contents" separator=",">
			(#{content.title}, #{content.text}, #{id})
        </foreach>
    </insert>
    <update id="updateContents" parameterType="java.util.List">
        <foreach collection="contents" item="content" index="index" open="" close="" separator=";">
			UPDATE project.content SET title =#{content.title},text = #{content.text}
			WHERE id=#{content.id}
        </foreach>
    </update>


    <resultMap id="landingPageResultMap" type="com.project.api.data.model.place.PlaceLandingPage">
        <id property="id" column="id" />
        <result property="place.id" column="place_id" />
        <result property="language" column="language" javaType="com.project.api.data.enums.Language" typeHandler="com.project.api.data.mapper.handler.LanguageTypeHandler"/>

        <!--         <association property="contents" column="id" javaType="List" select="findAllContentByPageId" />         -->
        <!--         <association property="place" column="{id=place_id,language=language}" javaType="com.project.api.data.model.place.Place" select="findPlaceById" /> -->
    </resultMap>
    <select id="findAllLandingPageByFilter" resultMap="landingPageResultMap" flushCache="true">
	SELECT id, ifnull(title, name) AS title, slug, description, keywords, place_id, ifnull(language, #{placeRequest.language.code}) AS language,
	district_id, city_id, region_id
    FROM (SELECT  lp.id, lp.title, CASE #{placeRequest.language.code} 
             WHEN 'TR' THEN pv.tr_name WHEN 'EN' THEN pv.en_name WHEN 'RU' THEN pv.ru_name WHEN 'DE' THEN pv.de_name END AS name,
            CASE #{placeRequest.language.code}
            WHEN 'TR' THEN pv.tr_slug WHEN 'EN' THEN pv.en_slug WHEN 'RU' THEN pv.ru_slug WHEN 'DE' THEN pv.de_slug END AS slug,
            pv.id AS place_id, lp.description, lp.keywords, lp.language, pv.type, pv.district_id, pv.city_id, pv.region_id
            FROM project.place_view_v2 pv 
            LEFT JOIN project.landing_page lp ON (pv.id = lp.self_id AND lp.type = 1 AND lp.language = #{placeRequest.language.code})) tbl
            WHERE place_id = IF(#{placeRequest.id} = 0, place_id, #{placeRequest.id}) 
            AND slug IS NOT NULL
        <if test="placeRequest.type != null">
		        AND type = #{placeRequest.type.id}
        </if>
        <if test="!types.isEmpty()">
                AND type IN 
            <foreach item="item" index="index" collection="types" open="(" separator="," close=")">
                    #{item}
            </foreach>
        </if>
        
        <!-- GEO filter -->
         <if test="placeRequest.regions != null">
        	AND region_id IN <foreach item="region" collection="placeRequest.regions" separator="," open="(" close=")">#{region}</foreach>
        </if>
         <if test="placeRequest.districts != null">
        	AND district_id IN <foreach item="district" collection="placeRequest.districts" separator="," open="(" close=")">#{district}</foreach>
        </if>
        <if test="placeRequest.cityId > 0">
				AND city_id = #{placeRequest.cityId}
        </if>
         <!-- #END OF GEO filter -->
        <if test="placeRequest.random != null">
		      ORDER BY RAND()
        </if>
        <if test="placeRequest.limit > 0">
		      LIMIT #{placeRequest.limit}
        </if>
        <!--     <if test="language != null"> -->
        <!--         AND language= #{language.code} -->
        <!--     </if> -->
    </select>
    <resultMap id="placeResultMap" type="com.project.api.data.model.place.Place">
        <id property="id" column="id" />
        <result property="language" column="language" javaType="com.project.api.data.enums.Language" typeHandler="com.project.api.data.mapper.handler.LanguageTypeHandler"/>
        <result property="type" column="type" javaType="com.project.api.data.enums.PlaceType" typeHandler="com.project.api.data.mapper.handler.PlaceTypeTypeHandler"/>

        <!--         <association property="contents" column="id" javaType="List" select="findAllContentByPageId" />         -->
        <!--         <association property="place" column="{id=place_id,language=language}" javaType="com.project.api.data.model.place.Place" select="findPlaceById" /> -->
    </resultMap>
    <select id="findAllPlaceByFilter" resultMap="placeResultMap" flushCache="true">
			SELECT pv.id, pv.id AS localisation_id, pv.main_image_id, pv.id AS
			place_id, pv.type, IF(#{placeRequest.language.code} IS NULL or
			#{placeRequest.language.code} = '', 'TR',
			#{placeRequest.language.code}) AS language, pv.address_id,
			CASE IF(#{placeRequest.language.code} IS NULL or
			#{placeRequest.language.code} = '', 'TR',
			#{placeRequest.language.code})
			WHEN 'TR' THEN pv.tr_name WHEN 'EN' THEN pv.en_name WHEN 'RU' THEN
			pv.ru_name WHEN 'DE' THEN pv.de_name END AS name,
			CASE IF(#{placeRequest.language.code} IS NULL or
			#{placeRequest.language.code} = '', 'TR',
			#{placeRequest.language.code})
			WHEN 'TR' THEN pv.tr_slug WHEN 'EN' THEN pv.en_slug WHEN 'RU' THEN
			pv.ru_slug WHEN 'DE' THEN pv.de_slug END AS slug
			,pv.create_datetime, pv.update_datetime, pv.opening_time, pv.closing_time,
			pv.twenty_four_seven
			FROM project.place_view_v2 pv
			WHERE id = IF(#{placeRequest.id} = 0, id, #{placeRequest.id})
        <if test="placeRequest.type != null">
				AND pv.type = #{placeRequest.type.id}
        </if>
        <if test="!types.isEmpty()">
				AND pv.type IN
            <foreach item="item" index="index" collection="types" open="(" separator="," close=")">
					#{item}
            </foreach>
        </if>
        <if test="placeRequest.districts != null">
			AND pv.district_id IN <foreach item="district" collection="districts" separator="," open="(" close=")">#{district}</foreach>
        </if>
        <if test="placeRequest.cityId > 0">
				AND pv.city_id = #{placeRequest.cityId}
        </if>
        <if test="placeRequest.random != null">
				ORDER BY RAND()
        </if>
        <if test="placeRequest.name != null">
            <bind name="namePattern" value="'%' + placeRequest.name + '%'" />
	        	AND LOWER(CASE #{placeRequest.language.code} WHEN 'TR' THEN pv.tr_name WHEN 'EN' THEN pv.en_name WHEN 'RU' THEN pv.ru_name WHEN 'DE' THEN pv.de_name END) LIKE LOWER(#{namePattern})
        </if>
        <if test="placeRequest.limit > 0">
				LIMIT #{placeRequest.limit}
        </if>
    </select>
</mapper>